.header-header {
    min-height: 230px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .item-header-main {
    margin-top: 0.4rem;
  }
  .item-accessibility-menu {
    position: absolute;
    top: 0;
    right: 0;
  }
  .accessibility-color {
    background-color: #eceded;
    border: none;
    border-radius: 8px;
    padding: 4px 6px !important;
    width: 34px;
    height: 31px;
  }
  .accessibility-color img {
    padding-bottom: 1px;
  }
  .item-topic.dark,
  .accessibility-color.dark,
  .accessibility-preview.dark {
    background-color: #919699 !important;
    color: #1c1c1c !important;
  }
  .top-info {
    min-height: 31px;
  }
  .accessibility-size {
    color: #1c1c1c;
    border: none;
    border-radius: 8px;
    padding: 7.5px 7px !important;
    height: 31px;
    font-size: 16px;
    line-height: 1;
  }
  @media (max-width: 400px) {
    .accessibility-size {
      height: auto;
      padding: 7.5px 2px !important;
    }
  }
  .dropdown-toggle::after {
    margin-left: 0.05rem;
  }
  .item-accessibility-menu .dropdown-menu {
    left: auto;
    right: 0;
    min-width: 0;
    text-align: right;
    padding: 0.3rem 0;
  }
  .item-accessibility-menu .dropdown-menu .dropdown-item {
    padding: 0.25rem 0.9rem 0.25rem 1rem;
    cursor: pointer;
  }
  .accessibility-size.dark {
    color: #919699;
  }
  .accessibility-preview {
    background-color: #eceded;
    border: none;
    border-radius: 8px;
    padding: 4px 6px 5px !important;
    height: 32px;
    width: 34px;
  }
  .item-title {
    font-family: "Calligraffitti", cursive;
    outline: 0;
    line-height: 1.45;
  }
  .item-description {
    font-size: 120%;
    font-style: italic;
    line-height: 1.6;
    font-weight: 300;
  }
  /* .item-author-img-div {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-author-img {
    margin-top: 3px;
  }
  .item-author {
    font-size: 110%;
    font-weight: 600;
  } */
  audio {
    display: block;
    width: 100%;
  }
  .item-content {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .item-content h3,
  .h3 {
    margin: 2.4rem 1px 1.4rem;
    font-size: 150%;
    font-weight: 600;
  }
  .item-content h4,
  .h4 {
    margin: 2.4rem 1px 1.4rem;
    font-size: 140%;
    font-weight: 300;
    font-style: italic;
  }
  .item-content p,
  .item-content div.content-editable,
  .p {
    font-size: 120%;
    line-height: 1.8;
  }
  .footer {
    padding: 25px;
  }
  @media (max-width: 768px) {
    .item-title {
      font-family: "Calligraffitti", cursive;
      outline: 0;
    }
    .item-description {
      font-size: 120%;
      font-style: italic;
      line-height: 1.6;
      font-weight: 300;
    }
    .item-content h3,
    .h3 {
      font-size: 160%;
      margin-left: 0px;
    }
    .item-content h4,
    .h4 {
      font-size: 150%;
      margin-left: 0px;
    }
    .item-content p,
    .item-content div.content-editable,
    .p {
      font-size: 130%;
    }
  }
  /* Editor Styles */
  .item-pid {
    margin-top: 0px;
    border-radius: 5px;
    padding: 4px;
  }
  .input-group {
    box-shadow: 0px 3px 5px rgb(0, 0, 0, 0.16);
    border-radius: 0.5rem;
  }
  .input-group * {
    border: none !important;
  }
  .input-group-text {
    background-color: #ebeded !important;
  }
  input,
  div.content-editable {
    border: none;
    border-radius: 5px;
    padding: 3px 7px;
    outline: 0;
    margin: 0.5rem 0;
  }
  .item-content input.h3,
  .item-content input.h4 {
    margin: 0.5rem 0;
  }
  #modal-add .form-check {
    margin: 0.1rem 0.3rem;
  }
  #modal-add .h3,
  #modal-add .h4,
  #modal-add .p {
    margin: 0 !important;
    line-height: 1;
  }
  .editor-add {
    border-radius: 50%;
    line-height: 1;
    padding: 5px 8px;
    position: absolute;
    right: -32px;
    margin-top: -15px;
  }
  .editor-input,
  .editor-editable,
  .editor-top {
    position: relative;
    margin-right: 22px;
  }
  .editor-delete {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 100%;
  }
  .editor-input .editor-delete {
    top: 6px;
  }
  #save-alert {
    display: none;
  }
  .do-not-display {
    display: none;
  }